%form{:method => 'post',:action => '/user/create'}
  %label Email
  %br/
  %input{:name => "email",:type => 'email'}
  %br/

  %label Firstname
  %br/
  %input{:name => "firstname"}
  %br/

  %label Lastname
  %br/
  %input{:name => "lastname"}
  %br/

  %label Username
  %br/
  %input{:name => "username"}
  %br/
  
  %label Phone_Number
  %br/
  %input{:name => "phone_number"}
  %br/
  %label Role
  %br/
  %select{:name => "role"}
    %option{:value => "user"}
      User
    %option{:value => "admin"}
      Admin
  %br/
  %label Password
  %br/
  %input{:name => "password",:type => "password"}
  %br/
  %button{:type => 'submit'}Create User