%label{:for => "week-checkbox"}
%input#week-checkbox{:onclick => "filters()", :type => "checkbox",:checked => "checked",:value =>"week"}/
Week
%label{:for => "month-checkbox"}
%input#month-checkbox{:onclick => "filters()", :type => "checkbox",:checked => "checked",:value => "month"}/
Month