%link{:href => "https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css",:rel => "stylesheet"}
%script{:src => "https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"}
%form{:action => '/posts/assignedusers',:method => 'post'}
  %input{:type => 'hidden',:value => @post.id, :name =>"postid"}
  %select{:multiple => true,:name => "assigned_users[]",:id => 'selecttag'}
    -@users.each do |user|
      -@user=User.find(user)
      %option{:value => user}
        #{@user.username}
  %button{:type => 'submit',:id =>'assignUsersButton',:onclick =>'assignedUsersTable()'}Assign Users
%table
  %thead
    %tr
      %th Assigned Users
      %th{:colspan =>'1'}
  %tbody
    -if @post[:assigned_user_id]!=nil
      -@post[:assigned_user_id].each do |user|
        -@user=User.find(user)
        %tr
          %td #{@user.username}
          %td= button_to 'X',remove_assigned_user_path(@post,userid:@user), method: :patch, data: { confirm: 'Are you sure?' }
     

:javascript
  new MultiSelectTag("selecttag");

  